
<h1>{{name}}</h1>

<dl>

  <td>Name:</td>
  <dd>{{name}}</dd>

  <td>Age:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{ getheroDescription() }}</dd>

  <td>Capitalized:</td>
  <dd>{{capitalizeName}}</dd>

</dl>

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Change name
</button>

<button
  *ngIf="age !== 25"
  (click)="changeAge()"
  class="btn btn-primary mx-2">
  Change age
</button>

<button
  (click)="reset()"
  class="btn btn-primary mx-2">
  Reset
</button>
